Auctus.CustomBP/Service References/WorkFlowCheckService4Test/PRWorkflow.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="webservices.PRWorkflow.weaver.com.cn" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="webservices.PRWorkflow.weaver.com.cn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="webservices.PRWorkflow.weaver.com.cn">
      <xsd:element name="PRCheck">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PRCheckResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PRCheckResponse">
    <wsdl:part name="parameters" element="tns:PRCheckResponse" />
  </wsdl:message>
  <wsdl:message name="PRCheckRequest">
    <wsdl:part name="parameters" element="tns:PRCheck" />
  </wsdl:message>
  <wsdl:portType name="PRWorkflowPortType">
    <wsdl:operation name="PRCheck">
      <wsdl:input name="PRCheckRequest" message="tns:PRCheckRequest" />
      <wsdl:output name="PRCheckResponse" message="tns:PRCheckResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PRWorkflowHttpBinding" type="tns:PRWorkflowPortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PRCheck">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="PRCheckRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PRCheckResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PRWorkflow">
    <wsdl:port name="PRWorkflowHttpPort" binding="tns:PRWorkflowHttpBinding">
      <wsdlsoap:address location="http://192.168.20.32/services/PRWorkflow" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>