Auctus.CustomUI/Service References/OAWorkflowModify4Test/ModifyWorkflow.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="webservices.ModifyWorkflow.weaver.com.cn" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="webservices.ModifyWorkflow.weaver.com.cn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="webservices.ModifyWorkflow.weaver.com.cn">
      <xsd:element name="ChangeWorkflow">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ChangeWorkflowResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ChangeWorkflowResponse">
    <wsdl:part name="parameters" element="tns:ChangeWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeWorkflowRequest">
    <wsdl:part name="parameters" element="tns:ChangeWorkflow" />
  </wsdl:message>
  <wsdl:portType name="ModifyWorkflowPortType">
    <wsdl:operation name="ChangeWorkflow">
      <wsdl:input name="ChangeWorkflowRequest" message="tns:ChangeWorkflowRequest" />
      <wsdl:output name="ChangeWorkflowResponse" message="tns:ChangeWorkflowResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ModifyWorkflowHttpBinding" type="tns:ModifyWorkflowPortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeWorkflow">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="ChangeWorkflowRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ChangeWorkflowResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ModifyWorkflow">
    <wsdl:port name="ModifyWorkflowHttpPort" binding="tns:ModifyWorkflowHttpBinding">
      <wsdlsoap:address location="http://192.168.20.32/services/ModifyWorkflow" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>